@import '../variables';

.galeria {
    box-sizing: border-box;
    padding-top:160px;
    padding-bottom:80px;
    
    @media screen and (max-width: 768px) {
        padding-top: 100px;
        padding-bottom: 60px;
    }
    
    .gallery-img{
        width: 100%;
        height: 300px;
        object-fit: cover;
    }
    .m__tblr{
        padding: 5px !important;
    }
  
}