// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;

$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$blanco: #ffffff;
$negro: #000000;

$arena:#E9C469;
$orange:#DFA112;
$grey:#9da0a3;
$magenta:#AABCCA;

$c747474: #747474;
$c181818: #181818;
$c7c7c7: #c7c7c7;
$blanco: #ffffff;
$negro: #000000;

/*-------------------------------------------------
Fuentes tipograficas
-------------------------------------------------*/
$font-family-lexendDeca: 'Lexend Deca', sans-serif;
$font-family-neurial: 'Neurial Grotesk', sans-serif;



