.w6 { max-width: 600px !important; }
.w8 { max-width: 800px !important; }
.w95 { max-width: 950px !important; }
.w10 { max-width: 1000px !important; }
.w12 { max-width: 1200px !important; }
.w14 { max-width: 1400px !important; }
.w15 { max-width: 1500px !important; }
.w16 { max-width: 1600px !important; }
.w18 { max-width: 1800px !important; }