footer {
    background-color: $negro;
    color: $blanco;
    padding: 40px 0px;
    border-top: 3px solid $orange;

    .menu {
        
        .special {
            // display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
        }
        .special__set{
            text-align: center;
        }
        ul {
            list-style: none;
            font-size: 13px;
            font-family: $font-family-lexendDeca;
            font-weight: 300;
            margin: 0px;
            padding: 0px;
        }
       
        @media screen and (max-width: 768px) {
            .mbutton{
                margin-bottom: 20px;
            }
			.text-right{
                text-align: center !important;
            }
			.special{
                text-align: center;
                display: block;
            }
		}
    }
    .text__logo{
        font-size: 13px;
        font-family: $font-family-lexendDeca;
        font-weight: 300;
        text-transform: uppercase;
        color: $orange;
    }

}