/*-------------------------------------------------
Fuentes tipograficas
-------------------------------------------------*/
.contacto {
  box-sizing: border-box;
  padding-top: 160px;
  padding-bottom: 80px;
}
@media screen and (min-width: 992px) {
  .contacto .h2__tlo {
    font-size: 50px !important;
  }
}
@media screen and (max-width: 768px) {
  .contacto {
    padding-top: 100px;
    padding-bottom: 60px;
  }
}
.contacto-form .form-control__set {
  width: 100%;
  padding: 8px;
  border: none;
  background-color: #000000;
  border-bottom: 3px solid #DFA112;
  color: white;
}
.contacto-form .form__capitalize {
  text-transform: capitalize;
}
.contacto-form .form-control__set::-moz-placeholder {
  font-size: 14px;
  color: #AABCCA;
}
.contacto-form .form-control__set:-ms-input-placeholder {
  font-size: 14px;
  color: #AABCCA;
}
.contacto-form .form-control__set::placeholder {
  font-size: 14px;
  color: #AABCCA;
}
.contacto-form textarea.form-control__set {
  min-height: 150px;
  max-height: 150px;
}
.contacto-form .orange {
  border: none;
  font-size: 18px;
  background-color: #DFA112;
  padding: 8px 40px;
  font-weight: 700;
  text-transform: uppercase;
}
.contacto-form #mapa {
  height: 480px;
}
.contacto-form .g-recaptcha {
  display: flex;
  justify-content: center;
}
